.header-main{
    
}

.logo-part1{
    color:#4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding: 25px 0 25px 156px;
        
}
.logo-part2{
    margin-right: 76px;
    color: #2E2F42;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}


/*------------------- header------------------ */

.nav-header{
    display: inline-block;
}

.header-list{
    display: inline-block;
    margin-right: 0;
    ;
}

.header-element{
    text-decoration: none;
}

.header-list-element{
    text-decoration: none;
    display: inline-block;
    margin-right: 40px;
}

.contacts-block{
    display: inline-block;
    margin-right: 40px;
    margin-left: 330px;
}
.header-contact{
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
}


/*------------main-----------------*/


/* section one */

.first-section{
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;      
}

.first-section-list-element{
    text-decoration: none;
}

.main-title{
    color:  #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    text-decoration: none;
}

.first-section-button{
    color: #FFF;
    margin-left: 336px;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    }

    /* section two */

.second-section-list{
    margin-left: 156px;
}

.second-section-list-element{
    display: inline-block;
    width: 264px;
        color: var(--navyblue, #2E2F42);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        margin-top: 120px;
}



        .third-section-title {
            margin-left: 590px;
            margin-top: 120px;
            color: var(--navyblue, #2E2F42);
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.72px;
            text-transform: capitalize;
        }

        .third-section-list{
            margin-left: 146px;
            margin-bottom: 72px;
        }

        .third-section-list-element{
            display: inline-block;
            margin-right: 24px;
        }

        /*fourth section*/

        .fourth-section-title{
            margin-left: 650px;
            margin-top: 120px;
            color: var(--navyblue, #2E2F42);
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.72px;
            text-transform: capitalize;
        }

        .fourth-section-list{
            margin-left: 156px;
            margin-bottom: 72px;
        }

        .fourth-section-list-element{
            display: inline-block;
            margin-right: 24px;
        }

        .footer-main{
            background-color: #2e2f42;
        }


        /*-------------portfolio-------------*/

        .portfolio-section-one-list{
            margin-left: 427px;
        }

        .portfolio-section-one-list-element-main{
            display: inline-block;
            margin-right: 24px;
            padding: 12px 24px;
            align-items: flex-start;
            border-radius: 4px;
            background: var(--ocean, #404BBF);
            }
        .portfolio-section-one-list-element{
            display: inline-block;
            margin-right: 24px;
            padding: 12px 24px;
            border-radius: 4px;
            border: 1px solid var(--cornflower, #E7E9FC);
            background: var(--cloud, #F4F4FD);
        }

        .portfolio-button-main{
            color: var(--white, #FFF);
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.64px;
        }

        .portfolio-section-two-list{
            margin-left: 156px;
        }

        .portfolio-section-two-list-element{
            display: inline-block;
            margin-right: 24px;
        }